<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhou.mapper.seller.SellerMapper">

<!-- 판매상품 리스트 -->
<select id="getProductList" resultType="com.nhou.domain.store.StoreDto">
SELECT
	*
FROM
	product
</select>

<!-- 판매현황 -->
<select id="getOrderList" resultMap="getMap">
SELECT
	nh.orderId,
	oi.count,
    oi.itemPrice,
    nh.member_userId,
    nh.orderDate,
    nh.payment,
    nh.status,
    oi.product_productId,
    m.userName,
    p.member_userId AS seller,
    p.stock,
    p.productId
FROM
	nhou_order nh LEFT JOIN orderItem oi ON nh.orderId = oi.nhou_order_orderId
				  LEFT JOIN member m ON nh.member_userId = m.userId
                  Left join product p ON oi.product_productId = p.productId
WHERE nh.orderDate
ORDER BY nh.orderDate DESC
</select>

<resultMap type="com.nhou.domain.order.OrderDto" id="getMap">
<id column="orderId" property="orderId"></id>
<result column="payment" property="payment"/>
<result column="orderDate" property="orderDate"/>
<result column="member_userId" property="member_userId"/>
<result column="status" property="status"/>
<result column="itemPrice" property="itemPrice"/>
<result column="count" property="count"/>
<result column="product_productId" property="product_productId"/>
<result column="userName" property="userName"/>
<result column="seller" property="seller"/>
<collection property="products" resultMap="products"></collection>
</resultMap>

<resultMap type="com.nhou.domain.store.StoreDto" id="products">
<result column="productId" property="productId"/>
<result column="member_userId" property="member_userId"/>
<result column="seller" property="seller"/>
<result column="stock" property="stock"/>
</resultMap>

<!-- 배송상태 수정 -->
<update id="update">
UPDATE nhou_order
SET status = #{status}
WHERE orderId = #{orderId}
</update>

<!-- 배송상세페이지 -->
<select id="get" resultMap="orderMap">
SELECT
	nh.orderId,
    nh.orderDate,
    nh.address1,
    nh.address2,
    nh.postal,
    nh.receiverName,
    nh.receiverPhone,
    nh.payment,
    nh.status,
    nh.member_userId
FROM
	nhou_order nh LEFT JOIN member m ON nh.member_userId = m.userId
</select>

<resultMap type="com.nhou.domain.order.OrderDto" id="orderMap">
<id column="orderId" property="orderId"></id>
<result column="payment" property="payment"/>
<result column="orderDate" property="orderDate"/>
<result column="member_userId" property="member_userId"/>
<result column="status" property="status"/>
<result column="itemPrice" property="itemPrice"/>
<result column="count" property="count"/>
<result column="address1" property="address1"/>
<result column="address2" property="address2"/>
<result column="receiverName" property="receiverName"/>
<result column="receiverPhone" property="receiverPhone"/>
</resultMap>

<select id="getProductInfo" resultMap="productMap">
select
	p.productId,
	p.member_userId
from 
	product p LEFT JOIN member m ON p.member_userId = m.userId
where p.member_userId = #{member_userId};
</select>

<resultMap type="com.nhou.domain.store.StoreDto" id="productMap">
<id column="productId" property="productId"></id>
<result column="member_userId" property="member_userId"/>
</resultMap>


<!-- 상품 수량 조절 -->
<update id="stockCheck">
UPDATE product
SET stock = stock - #{stock}
WHERE productId = #{productId}
</update>
</mapper>