<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.nhou.mapper.member.MemberMapper">
 <!-- 회원가입 정보 저장 -->
 <insert id="insertMember">
 INSERT INTO member 
 (userId, userName, password, nickName, email, birthDate, address, phone)
 VALUES
 (#{userId}, #{userName}, #{password}, #{nickName}, #{email}, #{birthDate}, #{address}, #{phone})
</insert>
<!--회원 목록 보기 -->
<select id="selectById" resultMap="memberMap">
	SELECT 
		userId,
		userName, 
		password, 
		nickName, 
		email, 
		birthDate, 
		address, 
		phone
	FROM
		member 
	WHERE
		userId = #{userId}
	</select>
	
	<resultMap type="com.nhou.domain.member.MemberDto" id="memberMap">
		<id column="userId" property="userId"></id>
		<result column="userName" property="userName"/>
		<result column="password" property="password"/>
		<result column="nickName" property="nickName"/>
		<result column="email" property="email"/>
		<result column="birthDate" property="birthDate"/>
		<result column="address" property="address"/>
		<result column="phone" property="phone"/>
		<!-- <collection property="auth" ofType="string">
			<result column="auth" property="auth"/>
		</collection> -->
	</resultMap>
	
	<select id="selectAll" resultType="com.nhou.domain.member.MemberDto">
	SELECT 
		userId,
		userName, 
		'숨김' password, 
		nickName, 
		email,
		insertDatetime
	FROM
		member 
	ORDER BY userId
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="update">
	UPDATE member
	SET 
		userName = #{userName}, 
	<!-- 	password = #{password},  비밀번호 암호화 설정 --> 
		nickName = #{nickName}, 
		email = #{email}, 
		address = #{address}, 
		phone = #{phone},
		auth = #{auth}
	WHERE 
		userId = #{userId}	
		
	</update>
 </mapper>