<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nhou.mapper.store.StoreReviewMapper">

	<insert id="insert">
	INSERT INTO productReply (productReplyId, product_productId, writer, content)
	VALUES (#{productReplyId}, #{product_productId}, #{writer}, #{content})
	</insert>
	
	<select id="selectReviewByproduct_productId" resultType="com.nhou.domain.store.ReviewDto">
	SELECT
		productReplyId,
		product_productId,
		writer,
		content
	FROM
		productReply
	WHERE
		product_productId = #{product_productId}
	ORDER BY
		productReplyId DESC
	</select>

</mapper>