<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nhou.mapper.store.StoreMapper">

	<insert id="insert">
	INSERT INTO product (productName, price, stock, member_userId, productCategory_categoryId)
	VALUES (#{productName}, #{price}, #{stock}, #{member_userId}, #{productCategory_categoryId})
	</insert>
	
<!-- 	<insert id="insertFile">
	INSERT INTO productFile (productFileId, productFileName)
	VALUES (#{productFileId}, #{productFileName})
	</insert>
	
	<insert id="insertCategory">		
	INSERT INTO productCategory (categoryId, categoryName)
	VALUES (#{categoryId}, #{categoryName})
	</insert>
		
	<insert id="insertInfo">
	INSERT INTO productInfo (productInfoId, productContents, color, size)
	VALUES (#{productInfoId}, #{productContents}, #{color}, #{size})
	</insert> -->

	<select id="list" resultType="com.nhou.domain.store.StoreDto">
	SELECT
		p.productId,
		p.productName,
		p.price,
		p.member_userId,
        p.productCategory_categoryId,
        pc.categoryName,
        m.nickName,
        m.userId
	FROM 
		product p LEFT JOIN member m ON p.member_userId = m.userId
				  LEFT JOIN productCategory pc ON p.productCategory_categoryId = pc.categoryId
	ORDER BY productId DESC;	
	</select>
	
	<!-- <select id="list" resultType="com.nhou.domain.store.StoreDto">
	SELECT
		productId,
		productName,
		price
	FROM product
	ORDER BY productId DESC;	
	</select> -->
	
<!-- 	<select id="Replylist">
	SELECT
		productReplyId,
		star
	FROM product
	ORDER BY productReplyId DESC;	
	</select> -->
	
	<select id="select" resultType="com.nhou.domain.store.StoreDto">
	SELECT
		productId,
		productName,
		price
	FROM product
	WHERE
		productId = #{productId}	
	</select>
	
	<update id="update">
	UPDATE product
	SET
		productId = #{productId}, 
		productName = #{productName}, 
		price = #{price}, 
		stock = #{stock}
	WHERE
		productId = #{productId}
	</update>
	
	<delete id="delete">
	DELETE FROM product
	WHERE productId = #{productId}
	</delete>

</mapper>
