<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.nhou.mapper.store.StoreReviewMapper">
	
	<delete id="deleteByReviewId">
	DELETE FROM productReply
	WHERE product_productId = #{product_productId}
	</delete>

	
	<insert id="insert">
	INSERT INTO productReply (productReplyId, product_productId, member_userId, content, star)
	VALUES (#{productReplyId}, #{product_productId}, #{member_userId}, #{content}, #{star})
	</insert>
	
	
	<update id="update">
	UPDATE productReply
	SET
		content = #{content}
	WHERE
		productReplyId =  #{productReplyId}
	</update>
	
	
	<select id="selectById" resultType="com.nhou.domain.store.ReviewDto">
	SELECT
		pr.productReplyId,
		pr.product_productId,
		pr.member_userId,
		pr.content,
		pr.insertDatetime,
		m.nickName
	FROM
		productReply pr LEFT JOIN member m ON pr.member_userId = m.userId
	WHERE
		productReplyId = #{productReplyId}
	</select>
	
	
	<delete id="deleteByproductReplyId">
	DELETE FROM productReply
	WHERE productReplyId = #{productReplyId}
	</delete>
	
	
	<select id="selectReviewByproduct_productId" resultType="com.nhou.domain.store.ReviewDto">
	SELECT
		pr.productReplyId,
		pr.product_productId,
		pr.content,
		pr.insertDatetime,
		m.nickName,
		pr.member_userId,
		(pr.member_userId = #{username}) editable
	FROM
		productReply pr LEFT JOIN member m ON pr.member_userId = m.userId
	WHERE
		product_productId = #{product_productId}
	ORDER BY
		productReplyId DESC
	</select>
	
	<delete id="deleteByMemberId">
	DELETE FROM productReply
	WHERE member_userId = #{member_userId}
	</delete>

	<!-- 평점 
	<select id="getStarAvg" resultType="double">
  	
  		SELECT star
  		FROM productReply
  		WHERE product_productId = #{product_productId}
  	
  	</select>

	<update id="updateStarAvg">
	
		UPDATE product
		SET starAvg = #{starAvg}
		WHERE productId = #{productId}
	
	</update> -->


</mapper>