<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nhou.mapper.board.BoardMapper">
<!-- 게시글 작성하기 -->
<insert id="insert" keyProperty="boardId">
INSERT INTO board(boardCategory, title, content, member_userId)
VALUES (#{boardCategory}, #{title}, #{content}, #{member_userId})
</insert>

<!-- 닉네임 가져오기 -->
<select id="selectNick" resultType="java.lang.String">
SELECT nickName FROM member WHERE userId = #{userId}
</select>

<!-- 글 목록 list는 mapper에서 사용한 명명 -->
<select id="list" resultType="com.nhou.domain.board.BoardDto">
SELECT 
	b.boardId,
	b.boardCategory,
    b.title,
    b.insertDatetime,
    m.nickName
FROM 
	board b LEFT JOIN member m ON b.member_userId = m.userId
GROUP BY b.boardId
ORDER BY b.boardId DESC
</select>

<!-- 게시물 선택해서 보기 select는 mapper에서 사용한 명명 / resultType은 DB에 있는 컬럼들 -->
<select id="select" resultType="com.nhou.domain.board.BoardDto">
SELECT
	boardId,
	boardCategory,
	title,
	content,
	insertDatetime,
	member_userId
FROM board
WHERE boardId = #{boardId}
</select>

<!-- 게시물 수정하기 -->
<update id="update">
UPDATE board
SET 
	boardCategory = #{boardCategory},
	title = #{title},
    content = #{content}
WHERE
	boardId = #{boardId}
</update>

<!-- 게시글 삭제하기 -->
<delete id="delete">
DELETE FROM board
WHERE boardId = #{boardId}
</delete>
<!-- 게시물 갯수
<select id="countAll" resultType="int">
SELECT COUNT(*) FROM board
WHERE
	<trim prefixOverrides="OR">
		<if test="type == 'all' or type == 'title'">
			title LIKE #{keyword}
		</if>
		
		<if test="type == 'all' or type == 'content'">
			OR content LIKE #{keyword}
		</if>
		
		<if test="type == 'all' or type == 'writer'">
			OR member_userId LIKE #{keyword}
		</if>
	</trim>
</select> -->
</mapper>